<a href="https://colab.research.google.com/github/LuisMedinaBravo/Minor-Machine-Learning/blob/main/ProyectoMachineLearnig.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Semana 1: Obtención de datos**

In [2]:
# bibliotecas importadas

import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Dataset (txt) obtenido de la siguiente página web
# https://www.cis.fordham.edu/wisdm/dataset.php

# leer dataset "WISDM_ar_v1.1_raw.txt" el cual debe estar cargado en la carpeta "sample_data"

columns = ['Usuario','Actividad','MarcaTiempo', 'EjeX', 'EjeY', 'EjeZ']
df_har = pd.read_csv('sample_data/WISDM_ar_v1.1_raw.txt', header = None, names = columns)

# data en orden ascendente
df = df_har.sort_values(by = ['Usuario', 'MarcaTiempo'], ignore_index=True)

#mostrar
df.head()
#df

        Usuario Actividad     MarcaTiempo  EjeX   EjeY           EjeZ
0             5   Walking   1202312298000 -0.95   5.01     1.6480621;
1             5   Walking   1202362285000 -1.61   5.28     0.5720546;
2             5   Walking   1202412304000 -3.17   7.50  -0.040861044;
3             5   Walking   1202462261000 -0.46  18.09    -1.1168685;
4             5   Walking   1202512310000  7.16  17.43    0.42223078;
...         ...       ...             ...   ...    ...            ...
413715       36  Standing  15049012250000 -0.91   9.43     2.5333846;
413716       36  Standing  15049062268000 -1.18   9.51     2.4925237;
413717       36  Standing  15049112287000 -1.50   9.53     2.5333846;
413718       36  Standing  15049162275000 -2.07   8.77     2.1792557;
413719       36  Standing  15049212262000 -2.14   9.89      3.255263;

[413720 rows x 6 columns]

**Semana 2: Limpieza de datos**

In [14]:
# quitar filas donde el atributo "MarcaTiempo" es cero

df = df[df['MarcaTiempo'] != 0]

# quitar filas donde la actividad sea "vacía"
df = df[df['Actividad'] != ' ']


# quitar valores nulos

df = df.dropna()
df.shape

##todo esto, nos elimina 12830 filas, ya que teníamos 413720 filas, y ahora tenemos 400890 filas

(400890, 6)

In [15]:
df

        Usuario Actividad     MarcaTiempo  EjeX   EjeY           EjeZ
0             5   Walking   1202312298000 -0.95   5.01     1.6480621;
1             5   Walking   1202362285000 -1.61   5.28     0.5720546;
2             5   Walking   1202412304000 -3.17   7.50  -0.040861044;
3             5   Walking   1202462261000 -0.46  18.09    -1.1168685;
4             5   Walking   1202512310000  7.16  17.43    0.42223078;
...         ...       ...             ...   ...    ...            ...
413715       36  Standing  15049012250000 -0.91   9.43     2.5333846;
413716       36  Standing  15049062268000 -1.18   9.51     2.4925237;
413717       36  Standing  15049112287000 -1.50   9.53     2.5333846;
413718       36  Standing  15049162275000 -2.07   8.77     2.1792557;
413719       36  Standing  15049212262000 -2.14   9.89      3.255263;

[400890 rows x 6 columns]